h1 a {
    color: #FCA205;
    font-family: 'Lobster',cursive;
    font-size: 25pt;
}
body {
    padding-left: 15px;
    background-image: url(bk18.png);
}
.page-header {
    background-color: lightblue;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    color:#8aa3e6;
    margin-left: 40px;
    font-size: 15pt;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
     font-size: 25pt;
}

.date {
    color: #e6ffe6;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
	color: #cfcffc;
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffd9b3;
    float: right;
    font-size: 15pt;
    margin-right: 15px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #ffbf80;
}

.comment {
	color: #ffff66;
	font-size: 12pt;
    margin: 20px 0px 20px 20px;
}